= cv_section 'Technical Skills' do
  .cv-item
    - categories.each do |category|
      .skill-group
        %h3.text-uppercase
          %strong= category.name
        %p.last
          %ul
            - category.children.each do |skill|
              .skill
                %li= skill.name

                .skill-detail
                  %strong= skill.name
                  - if skill.jobs.any?
                    %br/
                    Skill applied at:
                    %ul
                      - skill.jobs.each do |job|
                        %li= job.company_name
