= cv_section 'Work Experience' do
  - jobs.each do |job|
    .cv-item
      %p.period= job_period(job)
      %h3
        %strong= job.title
      %h4= link_to_if job.company_website.present?,
        job.company_name,
        job.company_website,
        target: '_blank'
      .job-skills= job.highlighted_skills.map(&:name).join(', ')

      %p= job.description.try(:html_safe)
